<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Usuario</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div th:replace="layout/navbar :: body"></div>

<div class="container" style="margin-top: 90px; max-width: 500px;">
    <div class="card shadow">
        <div class="card-header bg-dark text-white text-center">
            <h5>Usuario</h5>
        </div>

        <div class="card-body">
            <form th:action="@{/usuarios/guardar}" th:object="${usuario}" method="post">

                <div class="mb-3">
                    <label>Nombre</label>
                    <input type="text" th:field="*{nombre}" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label>Email</label>
                    <input type="email" th:field="*{email}" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label>Contraseña</label>
                    <input type="password" th:field="*{password}" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label>Rol</label>
                    <select th:field="*{rol}" class="form-select">
                        <option value="ADMIN">ADMIN</option>
                        <option value="EMPLEADO">EMPLEADO</option>
                    </select>
                </div>
				<div class="form-check mt-3">
				    <input class="form-check-input" type="checkbox"
				           th:field="*{activo}">
				    <label class="form-check-label">
				        Usuario activo
				    </label>
				</div>
				<div class="d-flex justify-content-between">
				                    <a th:href="@{/productos}" class="btn btn-outline-secondary">
				                        <i class="bi bi-arrow-left"></i> Volver
				                    </a>

				                    <button type="submit" class="btn btn-success px-4">
				                        <i class="bi bi-save"></i> Guardar
				                    </button>
				                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>
